:root {
    --green: #0a846e;
    --brown: #9e6d52;
    --red: #b93857;
    --opa-black: rgba(0, 0, 0, 0.79);
    --bg: #fcf6fc;
    --shadow: #03382F1C;
}

body {
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color 1s, color 1s;
}

a {
    transition: color .1s linear, background-color .1s linear;
}

h2 {
    font-size: 1.3rem;
    font-weight: normal;
}

@media screen and (min-width: 700px) {
    h2 {
        font-size: 1.5rem;
    }
}