:root {
    --green: #0a846e;
    --brown: #9e6d52;
    --red: #b93857;
    --opa-black: rgba(0, 0, 0, 0.79);
    --bg: #fcf6fc;
}

body {
    min-height: 100vh;
    transition: color 0.5s, background-color 0.5s;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
